<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/AddAppointment.css" rel="stylesheet" />


</head>
<body>
    <div class="container">
        <div class="title">Add Appointment</div>
        <form action="#">
            <div class="patient-details">
                <div class="input-box">
                    <span class="details">Patient Name :</span>
                    <input type="text" placeholder="Enter patient name" required>
                </div>
                <div class="input-box">
                    <span class="details">Patient Injury/Issue :</span>
                    <input type="text" placeholder="Enter type of injury" required>
                </div>
                <div class="input-box">
                    <span class="details">Doctor Name :</span>
                    <input type="text" placeholder="Enter doctor name" required>
                </div>
                <div class="input-box">
                    <span class="details">Appointment Date :</span>
                    <input type="date" id="Appointment date" name="Appointment date" required>
                </div>
                <div class="input-box">
                    <span class="details">Appointment Time :</span>
                    <input type="time" id="appt" name="appt" required>
                </div>
                <div class="button">
                    <input type="submit" value="Confirm">
                </div>
        </form>
    </div>
</body>
</html>